<% cache(cache_key_for_client_authorizations) do %>
  <h1>Client Authorizations</h1>

  <%= bootstrap_form_tag url: client_authorizations_path, method: :get, layout: :inline do |f| %>
    <%= f.select :filter, options_for_select({"Only Unread" => "unread", "Only Read" => "read", "Show All" => "all"}, params[:filter]), { label: "Filter:&nbsp".html_safe }, { name: :filter, onchange: "this.form.submit();" } %>
  <% end %>
  
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Prime Number</th>
        <th>Name</th>
        <th>Uploaded</th>
        <th>Read?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @client_authorizations.each do |client_auth| %>
        <% cache(client_auth) do %>
          <tr>
            <td><%= client_auth.prime %></td>
            <td><%= client_auth.full_name %></td>
            <td><%= client_auth.created_at.to_s(:long) %></td>
            <td><span class="glyphicon glyphicon-<%= client_auth.read? ? "ok" : "remove" %>" aria-hidden="true" title="<%= client_auth.read? ? "Yes" : "No" %>"></span></td>
            <td>
              <div class="btn-group">
                <%= link_to "Details", client_auth, class: "btn btn-default" %>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Details", client_auth %></li>
                  <li>
                    <% if client_auth.read? %>
                      <%= link_to "Mark as Unread", mark_as_read_client_authorization_path(client_auth, params.slice(:filter, :page).merge({:read => 0})), method: :post %>
                    <% else %>
                      <%= link_to "Mark as Read", mark_as_read_client_authorization_path(client_auth, params.slice(:filter, :page).merge({:read => 1})), method: :post %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>    
  <p><%= page_entries_info @client_authorizations, model: filter_state %></p>
  <%= will_paginate @client_authorizations, renderer: BootstrapPagination::Rails, params: params.slice(:filter) %>
<% end %>
