<h1>Edit <%= @user.name %></h1>

<%= bootstrap_form_for @user do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <% if @user == current_user %>
    <br>
    <%= f.password_field :password, label: "New password", placeholder: "Leave blank unless you are changing your password" %>
    <%= f.password_field :password_confirmation, label: "Confirm new password", placeholder: "Leave blank unless you are changing your password" %>
  <% end %>
  <br>
  <%= f.submit "Update User", class: "btn btn-primary btn-lg" %>
  <%= link_to "Cancel", @user, class: "btn btn-lg" %>
<% end %>
