<h1>New User</h1>

<%= bootstrap_form_for @user do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <br>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "Create User", class: "btn btn-primary btn-lg" %>
  <%= link_to "Cancel", users_path, class: "btn btn-lg" %>
<% end %>
