<% cache(@user) do %>
  <h1><%= @user.name %></h1>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Administrator:</strong>
    <%= @user.administrator? ? "Yes" : "No" %>
  </p>

  <p>
    <strong>Last login:</strong>
    <%= @user.last_sign_in_at.try(:to_s, :long) %>
  </p>

  <p>
    <% if can? :edit, @user %>
      <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-primary btn-lg", role: "button" %>
    <% end %>
    <%= link_to "User List", users_path, class: "btn btn-lg" %>
  </p>
<% end %>
