<% content_for :head do %>
  <style>
    th {text-align: center;}
    th, td {padding: 12px !important;}
  </style>
<% end %>
<% cache(@upload) do %>
  <h1>Trips Uploaded <%= @upload.uploaded_at.to_s(:long) %></h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th rowspan="2">Prime Number</th>
          <th colspan="3">Client Name</th>
          <th rowspan="2">Trip ID</th>
          <th rowspan="2">Service Date</th>
          <th rowspan="2">Pickup Time</th>
          <th rowspan="2">Appt Time</th>
          <th rowspan="2">Will Call</th>
          <th colspan="5">Pickup</th>
          <th colspan="5">Dropoff</th>
          <th rowspan="2">Reason</th>
          <th rowspan="2">Status</th>
          <th rowspan="2">Mode</th>
          <th rowspan="2">Mileage</th>
        </tr>
        <tr>
          <th>Last</th>
          <th>First</th>
          <th>MI</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <% @upload.uploaded_trips.order(:client_last, :client_first).each do |trip| %>
          <% cache(trip) do %>
            <tr>
              <td><%= trip.prime_number %></td>
              <td><%= trip.client_last %></td>
              <td><%= trip.client_first %></td>
              <td><%= trip.client_mi %></td>
              <td><%= trip.trip_id %></td>
              <td><%= trip.service_date.try(:to_s, :short) %></td>
              <td><%= trip.pickup_time %></td>
              <td><%= trip.appt_time %></td>
              <td><%= trip.will_call %></td>
              <td><%= trip.pickup_name %></td>
              <td><%= trip.pickup_address %></td>
              <td><%= trip.pickup_city %></td>
              <td><%= trip.pickup_state %></td>
              <td><%= trip.pickup_zip %></td>
              <td><%= trip.dropoff_name %></td>
              <td><%= trip.dropoff_address %></td>
              <td><%= trip.dropoff_city %></td>
              <td><%= trip.dropoff_state %></td>
              <td><%= trip.dropoff_zip %></td>
              <td><%= trip.reason %></td>
              <td><%= trip.status %></td>
              <td><%= trip.mode %></td>
              <td><%= trip.mileage %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
