<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Waverly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Waverly" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div id="session-timeout-warning" class="panel panel-default" style="display: none;">
        <div class="panel-body">
          You will be logged off in <span><!-- countdown place holder
           --></span>&nbsp;seconds due to inactivity. 
          <a id="session-resume" href="#">Click here to stay logged in.</a>
        </div>
      </div>      
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <% if current_user %>
      <%= javascript_tag do %>
        $(document).ready(function(){
          idleTimer = new IdleTimer();
          idleTimer.start();
        });
      <% end %>
    <% end %>
  </body>
</html>
